div.news-list { word-wrap: break-word; display:flex;&nbsp;flex-wrap: wrap;&nbsp;gap: 10px 5px;&nbsp;justify-content: space-between; } div.news-list__item {&nbsp;flex: 1 1;&nbsp;min-width: 320px; max-width: 420px;&nbsp;border: 1px solid #ccc;&nbsp;padding: 20px;&nbsp;text-align: center;&nbsp;background: linear-gradient(135deg, #f9f9f9, #e0e0e0); box-shadow: 0 4px 8px rgba(0,0,0,0.1);&nbsp;box-shadow 0.3s;&nbsp;display: flex; flex-direction: column} img.news-list__preview_picture {&nbsp;text-align: center;&nbsp;} span.news-list__name {color: black;&nbsp;font-size: large} span.news-list__date-time {} span.news-list__author {} span.news-list__previev-text {&nbsp;margin-top: 10px; text-align: justify;} .btn { padding: 12px 24px;&nbsp;background-color: #4CAF50;&nbsp;color: white;&nbsp;border: none;&nbsp;border-radius: 6px;&nbsp;cursor: pointer;&nbsp;text-decoration: none; margin-top: 10px;}<br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>